body{
  background-color: grey;
  display: flex;
  flex-direction: column;
}
.cont{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  display: grid;
    grid-template-columns: 1fr 1fr;
}
.bbb{
  border-radius: 10px;
  height: 100px;
  width: 110px;
}
.big{
  font-family: sans-serif;
  margin: 5px 0 5px 0;
  color: white;
  background: grey;
  border-radius: 7px;
  border-style: solid;
  border-color: skyblue;
  width: 100px;
  
}
.separator {
    width: 50%;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}
.dc-bb{
  font-family: sans-serif;
  margin: 5px 0 0 -85px;
  font-size: 20px;
}
p{
  font-family: sans-serif;
  font-size: 10px;
}