body{
  background-color: black;
  display: flex;

}
.cont{
  margin:auto;
  width: 350px;
    height: 400px;


}
.caixa-senha{
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  background-color: transparent;
  width: 170px;
  height: 35px;
  
  
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
.caixa-email{
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  background-color: transparent;
  width: 170px;
  height: 35px;
  
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type="text"] {
    text-align: center;
    color: dimgrey;
  
}
.botao-entrar{
  color: white;
  background-color: grey;
  border-radius: 7px;
  border: none;
  width: 90px;
  height: 20px;

  position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pix{
  font-family: sans-serif;
  color: white;
  position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#icon{
  color: white;
  position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  font-size: 90px;
}