body{
  background-image: linear-gradient(
  rgb(59, 88, 93),
  rgb(29, 40, 42)
);

  height: 100vh;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 110px;
  height: 35px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 20px;
  background-color: #238E23;
}
a{
  color: white;
  text-decoration: none
}
.grupo{
  color: gray;
  text-align: center;
  font-family: sans-serif;
}
.vendas{
  color: dimgray;
  text-align: center;
  font-family: sans-serif;
}
#foto{
  width: 70%;
  margin: 0 0 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -325px;
  left: 0;
  
}

        .player {
            background-color: transparent;
            display: block;
            margin: 5em 0 0 24%;
            height: 50%;
        }
        
        .player audio {
            width: 68%;
}
